apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-secret
              key: api-token
        selector:
          dnsZones:
            - moonsuit.org
sops:
  age:
    - recipient: age1w69hxskvxje87wnzvwrkvkl6re2vm27zts905jnzr5g78a05m47q94ejzx
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB5eW55MzA1MGtvRDlKa3Bq
        OVYyT2M0cktqQzVwQThHRWNVcURWSldmSENnCnErV3UzOWdoRlJMRksvcitVb2xN
        RFoxb3VtRUJKeVdjbmZBUXJ5N0RnQlkKLS0tIFdKaHRvR00vUzlKckl2c2s0QWFv
        SFJ4aWxiNmV2dzZQWXd0WkJibGxQVmMKtEk97f8oTiBPNPd5/E88LdIDvxZKtM30
        tiKYKfy5rwbY/PcMpiZNVgUIv9x/LLaBKaoaqSNDGWc2XopJPS5X0g==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-12T22:59:50Z"
  mac: ENC[AES256_GCM,data:UtCKchehmspl45EQCPXMWGY2RC+QPVQpWsA1blqph+iA1N1+BD4d15pqy5yFB4PkUIOu1SvD/3TDhe23zMKk9tDQVRNBehKF/4MyPZyX/3TiaAMjwfQoIY9KPsVYnf08dCRU/ElYCylR3UB4k4LGSWDm5QPRgd3A0yfowr9Hpe4=,iv:3D4fT68c/inmgkQBSpLbTDNddGrDmcaCxpcERt2WteU=,tag:k7YBU7kbGP2IgiGhdq9AVA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
